.post{
    background-color: #FFFFFF;
    border: 1px solid lightgray;
    margin-bottom: 30px;
    max-width: 500px;
}

.username{
    margin-left: 10px;
}

.post__header{
    display: flex;
    align-items: center;
    padding: 20px;  
}

.post__image__container{
    width: 100%;
    object-fit: contain;
    max-height: 500px;
}
.post__image{
    object-fit: fill;
    max-height: 500px;
    width: 100%;
    background-color: lightgrey;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    
}

.post__caption{
    /* border-bottom: 1px solid lightgrey; */
}

.post__caption h4{
    font-weight: normal;
    padding: 20px;
}

.post_comments{
    padding-left: 20px;
}


.post__comment{
    display: flex;
    margin-top: 5px; 
}

.post__comment__input{
    flex: 1;
    border: 1px solid lightgrey;
    padding: 10px;
}

.post__comment__button{
    flex: 0;
}

@media only screen and (max-width :600px){
    .post{
        max-width: 322px;
        margin-right: auto;
        margin-left: auto;
        border-radius: 2px;
        border: 1px solid lightgrey;
    }
}


