*{
  padding: 0;
  margin: 0;
  
}
body{
  background-color: #FAFAFA;
}

.App{
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.App__post__container{
  padding: 20px;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.App__post__right{
  margin-left: 20px;
}

.App__fileUpload{
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  bottom: 0;
  background-color: white;
  border: 1px solid lightgrey;
  padding: 10px;
}

/* .App__fileUpload Button{
  background-color:#303F9F;
} */


@media only screen and (max-width:600px){
  
  .App__post__container{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    padding: 10;
  }
  
  .App__post__right{
    margin-left: 0;
    display: flex;
    justify-content: center;
  }

 
}